<table class="tasks table table-striped table-hover">
  <tr>
    <th class="is-done"></th>
    <th class="task">Task</th>
    <th class="estimate">Est. duration</th>
    <th class="actions"></th>
  </tr>

  {{#each controller}}
    {{#if isEditing}}
      {{view Todo.TaskTableRowEditView contentBinding=this}}
    {{else}}
      {{view Todo.TaskTableRowShowView contentBinding=this}}
    {{/if}}
  {{else}}
    <tr>
      <td colspan="4">No tasks, yet.</td>
    </tr>
  {{/each}}
</table>

<div class="actions trailer">
  <button class="btn btn-primary" {{action addTask}} {{bindAttr disabled="isAddingNew"}}>Add Task</button>
</div>
