<table class="tasks table table-striped table-hover">
  <tr>
    <th class="span1">Done</th>
    <th class="span5">Task</th>
    <th class="span2">Est. duration</th>
    <th class="span1"></th>
  </tr>

  {{#each controller}}
      {{#if isEditing}}
        {{view Todo.TaskTableRowEditView}}
      {{else}}
        {{view Todo.TaskTableRowShowView}}
      {{/if}}
  {{else}}
    <tr>
      <td colspan="4">No tasks, yet.</td>
    </tr>
  {{/each}}
</table>

<div class="actions trailer">
  <button class="btn btn-primary" {{action addTask}} {{bindAttr disabled="isAddingNew"}}>Add Task</button>
</div>
